<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCar</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.Car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCar</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.ListCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCar</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.DeleteCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCar</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.EditCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConCreate</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.ConCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCon</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.DeletarCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCon</servlet-name>
        <servlet-class>br.unifacs.ltp2.servlet.EditarCon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCar</servlet-name>
        <url-pattern>/RegisterCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCar</servlet-name>
        <url-pattern>/ListCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCar</servlet-name>
        <url-pattern>/ModifyCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCar</servlet-name>
        <url-pattern>/EditCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConCreate</servlet-name>
        <url-pattern>/ConCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCon</servlet-name>
        <url-pattern>/DeletarCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCon</servlet-name>
        <url-pattern>/EditarCon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
